:root {
    --purple-primary: #6b21a8;
    --accent-pink: #F44E77;
    --neutral-light: #F2F6FF;
    --lavender-secondary: #6A6D9E;
    /*Primary Font Color*/
    --dark-primary: #16194F;
    --border-colour: #9A94FF;
}